div.list-group-item {
    height:auto;
    min-height:100px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus, .nav-pills .active {
color: #fff;
background-color: #428bca;
}

.margintop20 {
    margin-top:20px;
}

.nav-pills>li>a , .nav-pills .active {
border-radius: 0px;
}

a {
color: #000;
text-decoration: none;
}

a:hover {
color: #000;
text-decoration: none;
}


.nav-stacked > li {
border:1px solid #dadada;
}

.active2 {
    border-right:4px solid #428bca;
}